* {
    font-family: 'Lato', sans-serif;
}

.body-container {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

ul {
    padding: 0px;
}

#main-content-container {
    padding: 20px;
}